.messages-container {
  height: 100vh;
  display: flex;
}

.conversations-column {
  overflow-y: auto;
}

.chat-column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat-window {
  flex-grow: 1;
  overflow-y: auto;
}

.chat-message.sent {
  text-align: right;
}

.chat-message.received {
  text-align: left;
}

.chat-input input {
  width: 100%;
}
